/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
    background-color: #1C1D21;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    }

.container{
    height: 100%;
    align-content: center;
    }

.card{
    
    background: #25262B;
    height: 540px;
    margin-top: auto;
    margin-bottom: auto;
    width: 610px;
    }

.logo {
    text-align: center;
    align-items: center;
    background-repeat: no-repeat;
    width: 108;
    height: 108;
    }

.social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
    }

.social_icon span:hover{
    color: white;
    cursor: pointer;
    }

.card-header h3{
    align-items: center;
    color: white;
    }

.social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
    }

.input-group-prepend span{
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
    }

input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
    }

.remember{
    color: white;
    }

.remember input{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
    }

.login_btn{
    color: black;
    background-color: #2962FB;
    width: 100px;
    }

.login_btn:hover{
    color: black;
    background-color: white;
    }

.links{
    color: white;
    }

.links a{
    margin-left: 4px;
    }


.dot {
    height: 125px;
    width: 125px;
    background-image: linear-gradient(150deg, #2E75DD, #43C074);
    border-radius: 50%;
    display: inline-block;
  }
